import React, { FC } from 'react';
import classNames from 'classnames'
{{#if models}}

import { {{properCase name}}Props } from './{{properCase name}}.models';
{{/if}}
{{#if styles}}

import './{{properCase name}}.styles.scss';
{{/if}}

const {{properCase name}}: FC{{#if models}}<{{properCase name}}Props>{{/if}} = ({ className }) => (
  <div className={classNames('{{dashCase name}}', className)} data-testid="{{dashCase name}}-item">
    {' '}
  </div>
);

export default {{properCase name}};
