import React from 'react';
import clsx from 'clsx';
{{#if styles}}

import styles from './{{properCase name}}.styles.module.scss';
{{/if}}
{{#if models}}

import { {{properCase name}}Props } from './{{properCase name}}.models';
{{/if}}

const {{properCase name}} = ({ className }: {{#if models}}{{properCase name}}Props{{/if}}): JSX.Element => (
  <div className={clsx(styles.{{camelCase name}}, className)} data-testid="{{dashCase name}}-item">
    {' '}
  </div>
);

export default {{properCase name}};
